<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.and.gui"
    android:versionCode="1"
    android:versionName="1.0.3" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" >
    </uses-permission>

    <application
        android:debuggable="true"
        android:icon="@drawable/upmt_icon"
        android:label="@string/app_name" >
        <service android:name=".NetMeterService" />

        <activity
            android:name=".activity.GUI"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PreferencesEditor"
            android:label="@string/preferences_label" >
        </activity>
        <activity
            android:name=".activity.Policy"
            android:label="@string/preferences_label" >
        </activity>
        <activity
            android:name=".activity.PolicyEditor"
            android:label="@string/preferences_label" >
        </activity>
        <activity android:name=".activity.Setting"></activity>
    </application>

</manifest>